pkgbase = me176c-bootstrap
	pkgdesc = me176c-boot bootstrap loader
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/me176c-dev/me176c-boot/tree/master/bootstrap
	arch = x86_64
	license = BSD
	makedepends = meson
	makedepends = gnu-efi-libs
	source = https://github.com/me176c-dev/me176c-boot/archive/0.3.0.tar.gz
	sha256sums = 97dd9390b44eb5389996c912770baef077c5b378271385a3088c93fe711619c5

pkgname = me176c-bootstrap

