pkgbase = me176c-android-boot
	pkgdesc = Android bootloader for the ASUS MeMO Pad 7 (ME176C/X)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/me176c-dev/me176c-boot
	arch = x86_64
	license = LGPL3
	makedepends = meson
	makedepends = gnu-efi-libs
	makedepends = libpng
	depends = me176c-systemd-boot
	backup = boot/loader/loader.conf
	backup = boot/loader/entries/android.conf
	backup = boot/loader/entries/fastboot.conf
	backup = boot/loader/entries/recovery.conf
	source = me176c-boot-0.1.0.tar.gz::https://github.com/me176c-dev/me176c-boot/archive/0.1.0.tar.gz
	source = android-efi-0.1.0.tar.gz::https://github.com/me176c-dev/android-efi/archive/0.1.0.tar.gz
	sha256sums = d8a72537ec847e76c1904ae0cb5a35a98d5bf236143863f527b5a3fb37feb769
	sha256sums = 285714f58305172703fbf3b609998dfe236aebaae70c285776632426128f804f

pkgname = me176c-android-boot

